/* imported from prism-tomorrow.css 
 */

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__comment___3jzFG,
.prism-tomorrow__token___fK3ha.prism-tomorrow__block-comment___2W0H8,
.prism-tomorrow__token___fK3ha.prism-tomorrow__prolog___1Nl5G,
.prism-tomorrow__token___fK3ha.prism-tomorrow__doctype___2vItw,
.prism-tomorrow__token___fK3ha.prism-tomorrow__cdata___2_yd0 {
	color: #999;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__punctuation___38vA- {
	color: #ccc;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__tag___26SXh,
.prism-tomorrow__token___fK3ha.prism-tomorrow__attr-name___9aAQt,
.prism-tomorrow__token___fK3ha.prism-tomorrow__namespace___2NSKo,
.prism-tomorrow__token___fK3ha.prism-tomorrow__deleted___2PQvS {
	color: #e2777a;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__function-name___12S3X {
	color: #6196cc;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__boolean___mizm7,
.prism-tomorrow__token___fK3ha.prism-tomorrow__number___3JWgj,
.prism-tomorrow__token___fK3ha.prism-tomorrow__function___22_Ss {
	color: #f08d49;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__property___22cDj,
.prism-tomorrow__token___fK3ha.prism-tomorrow__class-name___3CZiZ,
.prism-tomorrow__token___fK3ha.prism-tomorrow__constant___1oTRq,
.prism-tomorrow__token___fK3ha.prism-tomorrow__symbol___2xmc7 {
	color: #f8c555;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__selector___kxJUX,
.prism-tomorrow__token___fK3ha.prism-tomorrow__important___6ZLBr,
.prism-tomorrow__token___fK3ha.prism-tomorrow__atrule___T8cnA,
.prism-tomorrow__token___fK3ha.prism-tomorrow__keyword___3mBg3,
.prism-tomorrow__token___fK3ha.prism-tomorrow__builtin___2OYoA {
	color: #cc99cd;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__string___32TBf,
.prism-tomorrow__token___fK3ha.prism-tomorrow__char___3OZrR,
.prism-tomorrow__token___fK3ha.prism-tomorrow__attr-value___yzCE5,
.prism-tomorrow__token___fK3ha.prism-tomorrow__regex___2hrgo,
.prism-tomorrow__token___fK3ha.prism-tomorrow__variable___3NYhb {
	color: #7ec699;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__operator___cFVvo,
.prism-tomorrow__token___fK3ha.prism-tomorrow__entity___3fhvQ,
.prism-tomorrow__token___fK3ha.prism-tomorrow__url___lzuPo {
	color: #67cdcc;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__important___6ZLBr,
.prism-tomorrow__token___fK3ha.prism-tomorrow__bold___1MRij {
	font-weight: bold;
}
.prism-tomorrow__token___fK3ha.prism-tomorrow__italic___1MofY {
	font-style: italic;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__entity___3fhvQ {
	cursor: help;
}

.prism-tomorrow__token___fK3ha.prism-tomorrow__inserted___12kFL {
	color: green;
}
